{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "globals":{
    "Chart":"readonly"
  },
  "rules": {
    "no-console": "warn",
    "import/extensions": 0
  }
}
