/*Medidas globales de página*/
* {margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
/*Medida de imagen de fondo de página*/
body{background-image: url("img/Fondo.jpg");
     background-repeat: repeat;
    }
/*Color fondo de barra de navegación*/
header {background: #3f3e3c;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 1;
       }
/*Medidas de logo Squad Up*/
.logo {width: 150px;
      height: 90px;
      }
/*Medidas y ubicación de contenedor de listas*/
.container_nav {width: 70%;
               height: 100px;
               margin: 0 auto;
               display: flex;
               justify-content: space-between;
               align-items: center;
               }
/*Listas sin diseño (raya y punto)*/
.navigation ul { list-style: none;}
/*Distribución de listas*/
.menu > li {display: inline-block;}
/*Diseño de elemento a de listas*/
.menu > li > a {display: block;
               padding: 15px 20px;
               color: rgb(194, 144, 45);
               font-family: 'Rozha One', serif;
               font-weight: bolder;
               font-size: 1.3rem;
               text-decoration: none;
               }
/*Efecto hover para las listas*/
.menu li a:hover {background: white;
                 border-radius: 20px;
                 transition: all .4s;
                 opacity: 80%;
                 }
/*Diseño submenu hacks*/
.submenu {position: absolute;
          background: #38352E;
          width: 120px;
          display: none;
         }
/*Diseño elemento a de submenu*/
.submenu li a {display: block;
              padding: 1rem;
              color: rgb(194, 144, 45);
              font-family: 'Rozha One', serif;
              font-weight: bolder;
              text-decoration: none;
              }
/*Efecto hover submenu*/
.menu li:hover .submenu {display: block;}
/*Estilo datalist*/
.championsAll {border-radius: 4px;
               background: #38352E url("./img/lupa.png") no-repeat 200px center;
               font-family: 'Rozha One', serif;
               font-size: 1rem;
               font-weight: bold;
               color:rgb(194, 144, 45)
              } 
 /*ESTILOS DEL MAIN*/
 /*BANNER*/
 .banner{
   margin-top: 100px;
 }
 .banner-img {
   height: 180px;
   width: 100%;
   margin-bottom: 35px;
   object-fit: cover;
 }
 /*CONTAINER WRAPPER*/
 .wrapper{
   max-width: 1000px;
   margin: auto;
 }
 /*Barra De Navegación*/
 .navbar-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 20px;
   border: solid rgb(194, 144, 45) 3px;
   border-radius: 18px;
   margin-bottom: 20px;
   background-color:  #2c2b2a93;
 }
 .navbar-container h2{
   font-size: 1.2rem;
   margin-right: 10px;
   color:rgb(194, 144, 45);
 }
 .icon {
   /*transition: left 250ms ease 0s; */
    fill:rgb(194, 144, 45);
    height: 23px;
    width: 23px;
 }
 .rols, .nivels{
   display: flex;
   justify-content: space-between;
 }
 /*Barra De Navegación-Input buscador de campeones*/
 .search {
  display: flex;
   align-items: center;
 }
 .search input {
   padding: 5px 7px;
   border-radius: 8px;
   width: 250px;
   outline-style: none;
   margin-right: 10px;
   border: none;
  }
  .searchButton{
     align-items: center;
  }
  .championAll{
    white-space:pre-wrap;
  }
 /*Barra De Navegación-Input buscador de roles*/
 .roles select{
   /* position: absolute; */
   width: 100%;
   background-color: #2c2b2a93;
   color:rgb(194, 144, 45) ;
   border-radius: 4px;
   border-style: none;
   font-family: 'Rozha One', serif;
   font-size: 1rem;
   font-weight: bold;
   padding-right: 10px;
   }
 .roles option{
   border-style: none;
   display: block;
   padding: 7px 4px 7px 3px;
   text-decoration: none;
   color: rgb(194, 144, 45);
   font-size: 1rem;
   font-family: 'Rozha One', serif;
   font-weight: bold;
   background-color: #0f0f0fea;
   }
 .roles :hover{
    background: white;
    transition: all .4s;
    opacity: 80%;  
 }
 /*Barra De Navegación-Input buscador de niveles*/
.levels select{
width: 100%;
background-color: #2c2b2a93;
color:rgb(194, 144, 45) ;
border-radius: 4px;
border-style: none;
font-family: 'Rozha One', serif;
font-size: 1rem;
font-weight: bold;
padding-right: 10px;
outline-style: none;
}
.levels option{
display: block;
padding: 7px 4px 7px 3px;
text-decoration: none;
color: rgb(194, 144, 45);
font-family: 'Rozha One', serif;
font-size: 1rem;
font-weight: bold;
background-color: #0f0f0fea
}
.levels :hover{
  background: white;
  transition: all .4s;
  opacity: 80%;  
}
 /* CONTENEDOR DE CARD EFECTO FLIPER */
 /* Contenedor general para flexibizar los elementos */
 .cardContainer {display: flex;
                 flex-wrap: wrap;
                 justify-content: center;
                }
/* Contenedor de cards y sus atributos */
.card-container {width: 225px;
                height: 250px;
                border-radius: 10px;
                background: white;
                margin: 10px;
                -webkit-perspective: 700;
               }
/* Efecto flip */
.cardChampions{height: 100%;
              width: 100%;
              position: relative;
              transform-style: preserve-3d;
              transition: 2s;
             }
/* Transición hover */
.cardChampions:hover {transform: rotateY(180deg);
                     box-shadow: 0 12px 16px white;
                     cursor: pointer;
                    }
/* Estilos ambas cards */
.card {width: 100%;
      height: 100%;
      backface-visibility: hidden;
      position: absolute;
     }
/* Estilos card frontal */
.front {border-radius: 10px;
       text-align: center;
       transition: all 0.25s;
       background: #D6BF67;      
       }
.lista{
  list-style: none;
  columns: 2;
}
.front h4{
  font-family: 'Rozha One', serif;
  color: #38352E;
  font-size: 1.5rem;
  text-align: center; 
  margin: 5px;
        }
.circulo{
  float: right;
  margin: 0px 15px 10px 10px;
        }
/* Estilos card posterior */
.back {background-image: url("img/fondo.png");
      opacity: 98%;
  /* background: black; */
      border-radius: 10px;
      transform: rotateY(180deg);
      font-family: 'Rozha One', serif;
      color:#D6BF67;
      font-size: 1rem;
      text-align: center;
      padding: 10px;      
     }
.fonth2 {
  /* font-weight: bold; */
  text-align: justify;
  font-size: .8em;
}
.lista{
  font-size: .8em;
  margin: 1px;
}
.lista2{
  list-style: none;
  columns: 2;
  font-size: .8em;
}
/* Estilos imagenes card */
.img-fluid {width: 100%;
           height: 80%;
           border-radius: 10px;
          }
/*Pie de página*/
footer {background: black;
       bottom: 0;
       width: 100%;
       height: 100px;
       text-align: center;
       color: white;
       font-family: 'Rozha One', serif;
       }
/*Diseño de texto y logo*/
.end {width: 25%;
     height: 100px;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 0.8rem;
     line-height: 1.5em;
     }
/*Color link github duplas*/
.sq { color: skyblue;}






